.login-container {
  max-width: 400px;
  margin: 7rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.form-group {
  margin: 15px;
  text-align: left;
}
.submit_button {
  margin: auto;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}
